body
{
    background-color: #e6e6e6;
}

.form-container
{
    background-color: #fff;
    background: -moz-linear-gradient(#999, #fff);
    background: -webkit-linear-gradient(#999, #fff);
    background: -o-linear-gradient(#999, #fff);
    border: 1px solid #ddd;
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.twitter, .facebook, .github
{
    font-size: 48px;
}

.twitter
{
    padding: 2px;
    color: #55acee;
}

.twitter:hover
{
    color: #66bdff;
}

.github
{
    padding: 2px;
    color: #444;
}

.github:hover
{
    color: #777;
}

.facebook
{
    padding: 2px;
    color: #3e5b99;
}

.facebook:hover
{
    color: #5f7dbb;
}

.header
{
    background-color: #363f45;
    border-radius: 0px;
    border-bottom: 1px inset #ccc;
}

.footer
{
    background-color: #fff;
    min-height: 100px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding :10px;
    font-size: 12px;
}

.video-thumbnail {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 3px solid #fc6f43;
    border-left: 1px solid #ddd;
    position:relative;
    background-color: #fff;
    margin: 10px;
    padding:5px;
    border-radius: 4px;
    height: 500px;
    overflow: hidden;
}

li.dropdown:hover
{
    background-color: #585f67;
    color: #fff;
}

.dropdown-menu>li>a:hover
{
    color: #fa8561;
}


/*
i.dropdown:active
{
    background-color: yellow;
    color: #fff;
}

a.dropdown-toggle:hover{
    color: white;
}

.dropdown-menu>li>a
{
    color: #1abc9c;
}

.dropdown-menu>li>a:hover
{
    color: #1abc9c;
}

.fa-user {
    color: #1abc9c;
    font-size: 1.5em;
}
*/

.videos-grid {
    border: 0px solid gray;
    padding: 15px;
}


/*
Modal dialog style
*/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    max-width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#999, #fff);
    background: -webkit-linear-gradient(#999, #fff);
    background: -o-linear-gradient(#999, #fff);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    opacity: 0.8;
}

.close:hover { background: #00d9ff; }